
@media (min-width:  870px) {
    
    #app .container_table_articulos{
        overflow: hidden;
        padding:2vw;
    }
   

}
#app table{
    color:white;
    background: #603e85;
 }
 #button-new-product{
     background-color:rgb(96, 62, 133);
     color:#ffff;
 }